<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/jquery-3.6.0.js"></script>
    <title>TODO</title>
</head>

<body>
    <div class="main-wrapper">
        <h1>To Do List For Stan:</h1>
        <ul>
            <li><input type="checkbox" name="item_0" id="item_0"><label for="item_0">Make the To Do app</label><span class="input"></span></li>
            <li><input type="checkbox" name="item_1" id="item_1"><label for="item_1">Cook avo and mushroom sandwich</label><span class="input"></span></li>
            <li><input type="checkbox" name="item_2" id="item_2"><label for="item_2">Do laundry</label><span class="input"></span></li>
            <li><input type="checkbox" name="item_3" id="item_3"><label for="item_3">Find new villager in Animal Crossing</label><span class="input"></span></li>

        <script src="/static/home.js"></script>
    </div>
</body>

</html>