<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/jquery-3.6.0.js"></script>
    <title>TODO</title>
</head>

<body>
    <div class="main-wrapper">
        <h1>To Do List For Stan:</h1>
        <ul class="todo-list">
        </ul>
        <div class="add-task-group">
            <input id="add-task-text" type="text">
            <button id="add-task-button">Add task!</button>
        </div>
        <script src="/static/home.js"></script>
    </div>
</body>

</html>