html {
    font-size: 16px;
}

body {
    background-color: rgba(223, 183, 183, 0.966);
    background-image: url("/static/chalk_heart.png");
    background-size: 40rem;
    color: rgb(87, 0, 20);
    margin: 0 auto;
}

.main-wrapper {
    background-color: rgba(246, 192, 43, 0.515);
    max-width: 600px;
    min-height: 1200px;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-style: solid;
    border-color: rgb(137, 255, 239);

}

h1 {
    margin: 0;
    color: aliceblue;
    text-shadow: 2px 2px 3px rgb(128, 87, 95);
}

.todo-list {
    list-style: none;
    padding: 0;
}

.add-task-group {
    margin: 0 0 0 1.2rem; 
}

input:checked+.todo-text {
    text-decoration: line-through;
}